@using System.Collections.Generic
@using MVC465
@Model List<BlogPost>
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Blog Post";
}
<h1>Blog Posts</h1>

@foreach(BlogPost post in Model)
{
    <div><h2>@post.Title</h2></div>
    @Html.ActionLink("Edit Post", "Edit", new {ID=post.ID})
}
