@using System.Collections.Generic
@using MVC465
@model List<BlogPost>
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Blog Post";
}
<h1>Blog Posts</h1>
<style>
</style>
<a id="uxAdd" href="@Url.Action("Add", "Blog")"><img src="~/Img/plus.png" /></a>
@using (Html.BeginForm())
{
    <div id="uxFilter" >    
        <input id="uxFilterTextBox" type="text" name="filter" />
        <input id="uxFilterSubmit" type="submit" placeholder="Filter.."/>
    </div>
}

@Html.Partial("_BlogPostLinkList", Model)