@model ShortAnswerQuestion
<div >
    <div  >
        <h2> Short Answer</h2>
            <h2>
                @Html.Raw(Model.Question)<br />
                @Html.HiddenFor(m => Model.ID)
            </h2>
            @Html.EditorFor(m => Model.Answer)
            <br />
        <div>@Html.ValidationMessageFor(m => Model.Answer)</div>
</div>
</div>