@model TrueFalseQuestion
<div >
    <div  >
        <h2>
            @Html.Raw(Model.Question)<br />
            @Html.HiddenFor(m => Model.ID)
        </h2>
        @Html.DropDownListFor(m => Model.Answer, new List <SelectListItem> { 
         new SelectListItem { Text = "True",  Selected = true, Value = "true" },
         new SelectListItem { Text = "False",  Selected = false, Value = "false" } })

        <br />
        <div> @Html.ValidationMessageFor(m => Model.Answer)</div>
    </div>
</div>