@model IEnumerable<Category>
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Categories";
}

<h2>Categories already added</h2>
@if (Model != null)
{
    foreach (Category str in Model)
    {
        
        <div>
            <p>X</p>
            <a href="@Url.Action("Edit", str.ID)"><img src="~/Img/pencil.png" style="width: 25px !important; width: 25px !important;" /></a>
            @str
        </div>
    }
}
else
{
    <p>No categories have been added <i class="em em-angry"></i><i class="em em--1"></i></p>
}
<br />
<h2>Add a category</h2>

@using (Html.BeginForm("Category", "Inventory", FormMethod.Post))
{
    @Html.AntiForgeryToken()

    @Html.TextBox("CategoryName")
    <br/>
    <input type="submit" value="Add Category" class="btn btn-default" id="uxSubmit" />

}
