
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "About";
}
<h1>About Housing</h1>
<p>Who: The House</p>
<p>What: Living in the house.</p>
<p>Where: Oregon Tech</p>
<p>When: All Day and Night</p>
<p>Why: Why not?</p>